/* Global Styles */

* {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
}

header {
    background-color: #6EA3D7;
    color: #ffffff;
    padding: 25px 0 85px;
}
header img {
    width: 67px;
    /*height: 143px;*/
    float: left;
    margin: 0 10px 0 35px;
}
header h1 {
    font-size: 64px;
    font-family: 'Architects Daughter', cursive;
    margin: 0;
}
header hr {
    height: 0px;
    border-width: 1px;
    border-color: #ffffff;
    border-style: solid; 
    margin: 15px 40px 5px;
}

.cream {   
    background-color: #FFEFD5 /* papayawhip */
}
.skyBlue {
    background-color: #6EA3D7;
    color: #ffffff;
}

.categories {
    display: flex;
    padding: 0 30px;
}
.category {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    margin: 90px 50px 110px;
}
.category a {
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    background-color: #6EA3D7;
    width: 100%;
    border-radius: 10px;
    display: block;
    margin: 50px auto;
    line-height: 60px;
}
.category img {
    border-radius: 150px;
    max-width: 100%;
}

.kite {
    display: flex;
    padding: 75px 100px;
}
.kite.cream {
    color: #6EA3D7;
    flex-direction: row-reverse;
}
.kite img {
    border-radius: 225px;
    max-width: 100%;
}
.kite h2 {
    font-size: 48px;
    font-weight: 500;
    margin: 0;
}
.kite p {
    font-weight: 500;
    margin: 0;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    /*margin: 0 auto;*/
}

.kite:first-child .text {
    margin-left: 170px;
}
.kite:nth-child(2) .text {
    margin-right: 170px;
}
.kite:nth-child(3) .text {
    margin-left: 170px;
}
.kite:nth-child(4) .text {
    margin-right: 170px;
}

.short-text {
    display: none;
}

.contact {    
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 0 auto;
    /*box-sizing: border-box;*/
    padding: 0 200px 110px;
    /*overflow: hidden;*/
}
.contact h2 {
    font-size: 48px;   
    font-weight: 500;
    text-align: center;
    margin: 60px 0 50px;
}

.input, .comments .area {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    width: 100%;
    padding: 15px 25px;
    box-sizing: border-box;
    border: 1px solid #C2C2C2; /* border: width style color */
    border-radius: 2px;
    resize: none;
    margin-bottom: 30px;
}

.name .input, .info .input {
    width: 49%;
    float: left;
    margin-right: 2%;
}

.name .input:last-child, .info .input:last-child {
    margin-right: 0;
}

.comments .area {
    height: 165px;
    margin-bottom: 15px;
}

::placeholder { 
    /* Chrome, Firefox, Opera, Safari */
    color: #C2C2C2;
    opacity: 1; /* Firefox */
}

.checkbox label {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    cursor: pointer;
}
.checkbox input {
    margin-right: 5px;
    height: 16px;
    /* removing height when in mobile/"responsive" view (Chrome Inspect) centers the checkbox */
    cursor: pointer;
}

.submit {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    color: #6B5ACD;
    background-color: #FFEFD5;
    width: 200px;
    line-height: 30px;
    border: 0;
    border-radius: 10px !important;
    margin-top: 40px !important;
    padding: 15px !important;
    cursor: pointer;
}

footer {
    background-color: #6B5ACD;
    color: #ffffff;
}

.credits {
    margin: 0;
    padding: 70px 70px 45px;
    list-style-type: none;
}


/* Media Queries */

/* Desktop */
@media screen and (min-width: 668px) {
    .navbar {
        list-style-type: none;
        display: flex;
        float: right;
        margin: 0 10px 0 0;
        padding: 0;
        overflow: hidden;
    }
    .navbar li {
        flex: 1;
    }
    .navbar a {
        /*display: block;
        text-align: center;*/
        padding: 0 30px;
        text-decoration: none;
        color: #ffffff;
    }
}

@media screen and (max-width: 1000px) {
    .navbar {
        margin: 0 30px 0 0;
    }
    .navbar a {
        padding: 0 10px;
    }
    
    .categories {
        flex-wrap: wrap;
    }
    .category {
        margin: 50px 70px;
    }
    .category a {
        width: 200px;
    }
    
    .kite {
        align-items: center;
    }
    .kite, .kite.cream {
        flex-direction: column;
    }
    .kite h2 {
        padding-top: 40px;
    }
    
    .text {
        width: 100%;
        margin: 0 !important;
    }
    .text p {
        margin-top: 10px;
    }
    
    .contact {
        padding: 0 100px 100px;
    }
    .contact h2 {
        margin: 60px 0 40px;
    }
    
    footer {
        height: 85px;
    }
    
    .credits {
        display: none;
    }
}

/* Mobile: iPhone 6,7,8 */

/*@media only screen and (min-device-width : 375px) and (max-device-width : 667px) {*/
@media screen and (max-width: 667px) { 
    header {
        text-align: center;
        padding: 10px;
    }
    header h1 {
        font-size: 36px;
    }
    header img, hr, nav {
        display: none;
    }
    
    .categories {
        padding: 0;
    }
    .category:last-child {
        margin-bottom: 0px;
    }
    
    .kite {
        padding: 60px 30px;
    }
    .kite img {
        height: 235px;
    }
    
    .full-text {
        display: none;
    }
    .short-text {
        display: inline-block;
    }
    .text h2 {
        text-align: center;
    }
    
    .contact {
        padding: 0 40px 80px;
    }
    
    .name .input, .info .input {
        width: 100%;
    }
    
    .checkbox input {
        transform: scale(1.5);
        margin-left: 3px;
    }
    
    .submit {
        display: block;
        margin: auto;
    }
}

/* Text wrap checkbox label */
@media screen and (max-width: 459px) {
    .checkbox input {
        height: 1em;
        float: left;
    }
    .checkbox label {
        display: block;
        margin-left: 30px;
    }
}