@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC&family=Noto+Serif&family=Noto+Serif+KR&display=swap");

/* ADD SCSS VARIABLES FOR COLOR? */

body {
  margin: 0;
  font-family: "Noto Serif", serif;
  font-family: "Noto Serif KR", serif;
  /* 	font-family: 'Noto Serif TC', serif; */
  font-size: 17px;
  transition: all 0.4s ease-in;
}

// disable horizontal scroll 
html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.dark-mode, 
.dark-mode nav, 
.dark-mode a, 
.dark-mode footer a, 
.dark-mode .card {
  background-color: #121212;
  color: #f2f2f2;
  transition: all 0.4s ease-in;

  // border for portfolio cards - any other borders affected?
  border-color: #037a76;
}

.dark-mode h2, 
.dark-mode h3, 
.dark-mode .card-subtitle {
  color: #037a76;
}

//border to separate name/intro and about me section in dark mode
#dark-mode-border {
  margin: 0 5%;
  display: none;
}

// .toggle {
//   margin: auto 0 auto 1rem;
// }

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 3.75rem;
  height: 2.13rem;
  // margin-inline: auto;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: all 0.4s ease-in;
  border-radius: 2.13rem;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.63rem;
  width: 1.63rem;
  left: 0.25rem;
  bottom: 0.25rem;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #037a76;
}

input:focus + .slider {
  box-shadow: 0 0 2px #037a76;
}

input:checked + .slider:before {
  transform: translateX(1.63rem);
}

.navbar-brand a {
  float: none;
  position: relative;
  font-family: sans-serif; /* serif font affects symbol sizes */
  letter-spacing: -1rem;
  margin: 0;
  padding: 0;
  color: #037a76;
  text-decoration: none;
}

#square {
  transform: rotate(-2deg);
  display: inline-block;
  font-size: 4rem;
  letter-spacing: -0.7rem;
}
#circle {
  display: inline-block;
	font-size: 5rem;
}
#triangle {
  transform: rotate(-4deg);
  display: inline-block;
  font-size: 4rem;
}

.link-box {
  display: block;
  float: right;
  clear: both;
}

// .navbar-nav {
//   text-align: center;
// }

.navbar {
  background-color: white;

  .navbar-brand {
    padding: 0;
  }

  .navbar-collapse a {
    padding: 0;
    margin: 0.5rem 0 0.5rem 0;
  }
}

// .navbar-toggler:focus,
// .navbar-toggler:active,
// .navbar-toggler-icon:focus {
//     outline: none;
//     box-shadow: none;
// }

.social a {
  color: #333;
  text-align: center;
  padding: 0;
  margin: 1rem;
  text-decoration: none;
  font-size: 1.5rem;
}

/* intro */

// .intro-wrapper {
//   width: min(100%, 1800px);
//   margin-inline: auto;
// }

// full-page intro
.intro-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.intro {
  /*how to make intro show in 100vh without messing up responsiveness...*/
  /*   height: 85vh;
  margin: 0; */
  display: grid;
  // grid-template-columns: auto 1fr auto;
  grid-template-areas: "hangul welcome hanja";
  /* 	grid-gap: 5%; */
  /* 	padding: 2rem; */
  // background-color: white;
  text-align: center;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
  /* https://www.digitalocean.com/community/tutorials/css-align-justify */
  /* 	min-height: 20vh; */ /*what does this do?*/

  h1 {
    font-size: 3rem;
    margin: 0;
    color: #037a76;
  }
  
  h3 {
    font-size: 1.5rem;
    margin: 1rem;
  }

  p {
    text-align: left;
  }
}

.welcome {
  // width: 75%;
  margin: auto;
  grid-area: welcome;
}

.kname {
  writing-mode: vertical-lr;
  text-orientation: upright;
  font-size: 4rem;

// VH AND VW IS REALLY MESSING WITH EXTRA SPACE TO THE RIGHT OF THE SCREEN (OVERFLOW) AT CERTAIN BREAKPOINTS AND PHONE/TABLET SIZES...

  color: #037a76;
  letter-spacing: 0.5rem;
  // padding: 1.5vw;
  /*extra paddding causes issue with white space on right side at 940px width viewport*/
}

.hangul {
  grid-area: hangul;
}
.hanja {
  grid-area: hanja;
}

/* main */

main {
  padding: 2rem 10%;
  background-color: #249f9c;
}

// fade and slide in on scroll

.item {
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s;
}

.left {
  transform-origin: left center;
  transform: translateX(-50%);
}

.right {
  transform-origin: right center;
  transform: translateX(50%);
}

.slide-in {
  opacity: 1 !important;
  transform: translateX(0);
}

.indent p {
  text-indent: 2rem;
}

#about .fa {
  font-size: 2.5rem;
  text-align: center;
  text-decoration: none;
  margin-right: 1rem;
  color: #037a76;

  &:hover {
    opacity: 0.7;
  }
}

// #portfolio .row {
//   margin-inline: -10%; 
// }

// .hover-zoom {
//   overflow: hidden;
  
//   img {
//     object-fit: cover;
//     transition: all 0.3s ease;

//     &:hover {
//       transform: scale(1.5);
//     }
//   }
// }


.list-group-item a {
  color: #037a76;

  &:hover {
    opacity: 0.7;
  }
}

.blog a {
  color: #037a76;

  &:hover {
    opacity: 0.7;
  }

  h4 {
    margin-bottom: 1rem;
  }
}

.blog-img {
  max-width: 75%;
  margin-bottom: 16px;
}

.contact {
  width: 75%;
  margin: 0 auto;

  h2 {
    text-align: center;
    margin-bottom: 1rem;
  }
}

.btn {
  background-color: #037a76;
  border-color: #037a76;

  &:hover {
    background-color: #037a76;
    border-color: #037a76;
    opacity: 0.7;
  }
}

footer {
  background-color: #f2f2f2;
  padding: 2rem;
  padding-top: 6rem;

  a:hover {
    color: #ed1a76;
  }
}

.bottom-nav-logo a {
  color: #333;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 3rem;
  letter-spacing: 0.2rem;
  display: inline-block;
  margin: 0 auto;
  width: 100%;
}

.bottom-nav {
  list-style: none;
  text-align: center;
  padding: 1rem;

  a {
    padding: 0;
    margin: 1rem;
    font-size: 1rem;
    text-decoration: none;
    color: #333;
  }
}

.footer-social {
  text-align: center;
  padding: 1rem 0;
}

@media screen and (max-width: 940px) {
  .topnav a,
  .topnav-right,
  .topnav {
    float: none;
    display: block;
  }

  .topnav-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }

  .social {
    display: flex;
    justify-content: center;
  }

  .kname {
    padding: 0;
  }
}

// Bootstrap 5 md breakpoint
@media screen and (max-width: 768px) {
  .intro {
    grid-template-areas:
      "hangul hanja"
      "welcome welcome";
    padding-top: 2rem;
    gap: 2rem;

    h1 {
      font-size: 3rem;
    }
  }

  .welcome {
    padding-inline: 10%;
  }

  .kname {
    grid-gap: 5rem;
    font-size: 5vh;
  }
  /* spacing at smallest viewport? */
  /* .hangul {

	} */

  .contact {
    width: 100%;
  }
}

// BS5 breakpoint before xl
@media screen and (min-width: 1399px) {
  .kname {
    font-size: 7rem;
  }
}