---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Michael Kim" description="About Michael Kim - Learn more about myself and my background.">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by! Read below to learn more about myself and my background."
			>
				<!-- <img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Michael Kim at work with a colleague"
				/> -->
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						I was born in South Korea and immigrated with my family to the United States at the age of seven. My birth name is Kungsoo (경수), but I also go by Michael as my English name (that I supposed picked for myself after arriving at the US). I have an immense passion and respect for my background and culture, and I strive to maintain and improve my Korean as a first generation immigrant.
					</p>
					<br>
					<p>
						Currently, I am an Amazon Seller Support Associate for Korean and English speaking business partners selling on the Amazon platform. While I am able to utilize and hone my Korean language skills through this role, my goal is to change careers into the tech field. After graduating from the University of Pittsburgh with a Bachelor's degree in Information Science, I completed a Back-end Java Development boot camp focusing on Client-Server Programming (SQL, Spring, JPA, REST) as well as covering topics such as Data Structures, Algorithms, Design Patterns, Cloud/Microservice deployments, and DevOps (e.g. CI/CD).
					</p>
					<br>
					<p>
						However, my passion has always been for Front-end Development and User Experience. I designed this web page to demonstrate my coding skills and to channel my creativity through web design, and I look forward to entering the tech industry to continue working on websites.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
                    <p>University of Pittsburgh, Bachelor of Science (BS) in Information Science</p>
				<br>
                            <p><b>Associated Coursework:</b> Web Programming, User-Centered Design, Human Factors in System Design, Database Management Systems, Intermediate Programming using Java, Game Design</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p><b>Languages:</b> Java, SQL, PHP, Python</p>
<br>
                    <p><b>Front End:</b> HTML, CSS, Javascript, Bootstrap, Figma, WordPress</p>
<br>
                    <p><b>Back End:</b> Spring Boot, JUnit, PostgreSQL, MySQL</p>
<br>
                    <p><b>Development Tools:</b> VS Code, IntelliJ, pgAdmin, Maven, Git</p>
<br>
                    <p><b>Methodologies:</b> Agile, CI/CD, Microservices</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
